@import url('https://fonts.googleapis.com/css?family=Raleway');

$font-stack: 'Raleway', sans-serif;
$font-color:  #546b74;
$primary-color: #D9333A;

.header {
  height: 80px;
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
    img {
      height: 80px;
      width: auto;
      object-fit: contain;
    }
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
    img {
      width: 100%;
      height: auto;
    }
}

.container {
  width: 800px;
  height: 250px;
  background-color: #E3E3E3;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 250px;
  right: 250px;
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  justify-content: space-around;
  box-shadow: 0.5px 0.5px 0.5px 0.5px darkgrey;
}

.search-div {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.searchfield {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    p {
      font-size: 15px;
      margin-top: 4px;
      text-decoration-line: underline;
    }
}

input {
  width: 347px;
  height: 45px;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.input-field {
  width: 350px;
  padding-bottom: 2px;
  border-bottom: 2.5px solid #C3C3C3;
}

h4 {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

::placeholder {
  padding-left: 5px;
  color: $font-color;
}

button {
  width: 200px;
  height: 45px;
  background-color: $primary-color;
    p {
        font-family: $font-stack;
        color: white;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

.bottom-div {
  padding-left: 22px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 200px;
  padding-bottom: 2px;
  border-bottom: 3px solid #133D50;
}
